@model PDP.Models.Doctor

<h2 class="text-center">Add Doc</h2>
<br />

@if (TempData.ContainsKey("message"))
{
    <h1 class="text-center"> @ViewBag.message&nbsp;</h1>
    <br />
}

@using (Html.BeginForm(actionName: "Create", controllerName: "Doctors"))
{
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <div class="form-row text-left justify-content-center">
        <div class="form-group col-md-4">
            @Html.Label("FirstName", "First Name", new { @class = "text-center" })
            @Html.ValidationMessageFor(m => m.FirstName, " *", new { @class = "text-danger" })
            @Html.TextBox("FirstName", null, new { @class = "form-control" })
        </div>

        <div class="form-group col-md-4">
            @Html.Label("SecondName", "Second Name")
            @Html.ValidationMessageFor(m => m.SecondName, " *", new { @class = "text-danger" })
            @Html.TextBox("SecondName", null, new { @class = "form-control" })
        </div>


        <div class="form-group col-md-4">
            @Html.Label("PhoneNumber", "Phone Number")
            @Html.ValidationMessageFor(m => m.PhoneNumber, " *", new { @class = "text-danger" })
            @Html.TextArea("PhoneNumber", null, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-row text-left justify-content-center">
        <div class="form-group col-md-4">
            @Html.Label("PriceRate", "Price Rate")
            @Html.ValidationMessageFor(m => m.PriceRate, " *", new { @class = "text-danger" })
            @Html.TextBox("PriceRate", null, new { @class = "form-control" })
        </div>
        <div class="form-group col-md-4">
            @Html.Label("Email", "Email")
            @Html.ValidationMessageFor(m => m.Email, " *", new { @class = "text-danger" })
            @Html.TextBox("Email", null, new { @class = "form-control" })
        </div>
        <div class="form-group col-md-4">
            @Html.Label("IsAvailable", "Is Available")
            @Html.ValidationMessageFor(m => m.IsAvailable, " *", new { @class = "text-danger" })
            @Html.CheckBox("IsAvailable", true, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-row text-left justify-content-center">
        <div class="form-group col-md-6">
            @Html.Label("Photo", "Photo")
            @Html.ValidationMessageFor(m => m.Photo, "", new { @class = "text-danger" })
            @Html.TextBox("Photo", null, new { @class = "form-control" })
        </div>
        <div class="form-group col-md-6">
            <label>Select spec</label>@Html.ValidationMessageFor(m => m.SpecializationList, " *", new { @class = "text-danger" })
            @Html.DropDownListFor(m => m.SpecializationID, new SelectList(Model.SpecializationList, "Value", "Text"), "Select spec", new { @class = "form-control" })
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-12">
            <button class="btn btn-success justify-content-center" type="submit">Add Doc</button>
        </div>
    </div>
}