@model PDP.Models.Doctor

@{
    ViewBag.Title = "Delete";
}
<br />
<h3>Are you sure you want to delete the doctor @Model.FirstName @Model.SecondName?</h3>
<h5 style="font-style:italic">This changes will not be reversible</h5>
<img src="@Model.Photo" style="width:16em;" /> 
<div><br />
	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()
		@Html.HttpMethodOverride(HttpVerbs.Delete)

		<div class="form-actions no-color">
			<button class="btn btn-danger justify-content-center" type="submit">Delete</button>
			<a class="btn btn-info" href="/Doctors/Index">Back</a>
		</div>
	}
	<br /><hr />
</div>
