@model PDP.Models.Doctor

@{
    ViewBag.Title = "Doctor Details";
}

<h3>Doctor's details page</h3>
<hr />

@{
    // Getting all specialization in a "Pythonic" way, if other dev knows better you can rewrite this part :)
    PDP.Models.Specializations currentSpecialization = null;
    foreach (PDP.Models.Specializations specialization in ViewBag.specializations)
    {
        if (Model.SpecializationID == specialization.SpecializationID)
        {
            currentSpecialization = new PDP.Models.Specializations
            {
                SpecializationID = specialization.SpecializationID,
                Price = specialization.Price,
                Name = specialization.Name
            };
            break;
        }
    }
    <div class="panel panel-defaul" style="text-align:center">
        <div class="panel-body">
            <h3 class="text-center text-primary">@Model.FirstName @Model.SecondName</h3>
            <img class="img-responsive" src="@Model.Photo" alt="doctor's photo" style="height:16em; margin:auto;" />
            <br />
            <h6 style="font-style:italic">Contact number: @Model.PhoneNumber</h6>
            <div style="text-align:center">
                <h6>Price for consultation: @Model.CalcultateConsultationPrice(currentSpecialization)  RON</h6>
                <!--Written like this in order to avoid breaking errors in case we delete by mistake a specialization with doctors-->
                <h6>Specialization: @(currentSpecialization != null ? currentSpecialization.Name : "None") </h6>
            </div>
            <!--Add a review zone-->
        </div>

        <div class="panel-footer">
            <div class="row">
                <div class="col-md-1">
                    @if (User.IsInRole("Admin"))
                    {
                        <a class="btn btn-warning" href="/Doctors/Edit/@Model.DoctorId"><i class="fa fa-edit"></i>Edit</a>
                    }
                </div>
                <div class="col-md-1">
                    @if (User.IsInRole("Admin"))
                    {
                        using (Html.BeginForm(actionName: "Delete", controllerName: "Doctors", method: FormMethod.Post, routeValues: new { id = @Model.DoctorId }))
                        {
                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                            <button class="btn btn-danger pull-right" type="submit"><i class="fa fa-trash"></i> Delete</button>
                        }
                    }
                </div>
                <div class="col-md-1">
                    @if (User.IsInRole("User"))
                    {
                        <!--Schedule a consultation zone-->
                    }
                </div>
            </div>
        </div>
    </div>
}
