@model PDP.Models.Doctor
<h2 class="text-center">Edit doc</h2>
<br />

<form method="post" action="/Doctors/Edit/@Model.DoctorId">

    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.HiddenFor(m => m.SpecializationID)
    <div class="form-group ">
        @Html.Label("FirstName", "FirstName")
        @Html.ValidationMessageFor(m => m.FirstName, " *", new { @class = "text-danger " })
        @Html.TextBox("FirstName", null, new { @class = "form-control" })
        <br />
    </div>
    <div class="form-group ">
        @Html.Label("SecondName", "SecondName")
        @Html.ValidationMessageFor(m => m.SecondName, " *", new { @class = "text-danger " })
        @Html.TextBox("SecondName", null, new { @class = "form-control" })
        <br />
    </div>
    <div class="form-group ">
        @Html.Label("IsAvailable", "IsAvailable")
        @Html.ValidationMessageFor(m => m.IsAvailable, " *", new { @class = "text-danger " })
        @Html.TextBox("IsAvailable", null, new { @class = "form-control" })
        <br />
    </div>
    <div class="form-group ">
        @Html.Label("PriceRate", "PriceRate")
        @Html.ValidationMessageFor(m => m.PriceRate, " *", new { @class = "text-danger " })
        @Html.TextBox("PriceRate", null, new { @class = "form-control" })
        <br />
    </div>
    <div class="form-group ">
        @Html.Label("PhoneNumber", "PhoneNumber")
        @Html.ValidationMessageFor(m => m.PhoneNumber, " *", new { @class = "text-danger " })
        @Html.TextBox("PhoneNumber", null, new { @class = "form-control" })
        <br />
    </div>
    <div class="form-group ">
        @Html.Label("Email", "Email")
        @Html.ValidationMessageFor(m => m.Email, " *", new { @class = "text-danger " })
        @Html.TextBox("Email", null, new { @class = "form-control" })
        <br />
    </div>
    <div class="form-group">
        @Html.Label("Photo", "Photo")
        @Html.ValidationMessageFor(m => m.Photo, " *", new { @class = "text-danger" })
        @Html.TextBox("Photo", null, new { @class = "form-control" })
    </div><br />

    <div class="row text-center">
        <div class="col-md-12">
            <button class="btn btn-success justify-content-center" type="submit">Modify doc</button>
        </div>
    </div>
    <br />
</form>