@model IEnumerable<PDP.Models.Doctor>

@{
    ViewBag.Title = "Doctors";
}
<br />
<h2>Our doctors</h2>
<br />

@if (User.IsInRole("Admin"))
{
    <a class="btn btn-success" href="/Doctors/Create">Add a doctor</a>
    <br />
}
<br />
<div class="row">
    <div class="col-md-6 mb-3">
                @Html.ActionLink("Ascend First Name", "Index", new { sortOrder = "1", currentFilter = ViewBag.CurrentFilter }, new { @class = "text-center", @style = "color:black" })
                @Html.ActionLink("Descend First Name", "Index", new { sortOrder = "2", currentFilter = ViewBag.CurrentFilter }, new { @class = "text-center", @style = "color:black" })
                @Html.ActionLink("Ascend Second Name", "Index", new { sortOrder = "3", currentFilter = ViewBag.CurrentFilter }, new { @class = "text-center", @style = "color:black" })
                @Html.ActionLink("Descend Second Name", "Index", new { sortOrder = "4", currentFilter = ViewBag.CurrentFilter }, new { @class = "text-center", @style = "color:black" })
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4 text-right">
        @using (Html.BeginForm("Index", "Doctors", FormMethod.Get))
        {
            @Html.TextBox("search", ViewBag.CurrentFilter as string)
            <button type="submit" value="Search" class="btn btn-success pull-right fa fa-search">Search</button>
        }
    </div>
</div>
<hr />
<br />

<div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-xl-3">
    @foreach (PDP.Models.Doctor doctor in ViewBag.Doctors)
    {
        <div class="col mb-4">
            <div class="card border-secondary mb-3">
                <a href="/Doctors/Details/@doctor.DoctorId">
                    <img class="card-img-top" src="@doctor.Photo" alt="doc image" />
                </a>
                <div class="card-body">
                    <a href="/Doctors/Details/@doctor.DoctorId" style="color:black">
                        <h3 class="card-title text-center">@doctor.FirstName @doctor.SecondName</h3>
                    </a>
                </div>
            </div>
        </div>
    }
</div>
<br />
<hr />
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
