@model PDP.Models.Consultation

@{
    ViewBag.Title = "Create";
}
<script src="~/Scripts/CUSTOM_JS.js"></script>

<h2>Create</h2>

<div class="text-danger">@ViewBag.ConsultationCreateError</div>

@using (Html.BeginForm(actionName: "Create", controllerName: "Consultations"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Specializations</h4>
        <hr />

        <p>@ViewBag.firstName @ViewBag.secondName</p>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="control-label col-md-2">
                <h6>Date</h6>
            </div>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.date_day, "{0:dd.MM.yyyy}", new { @class = "date-picker fullwidth", data_date_format = "0:dd.mm.yyyy", @type = "date" })
                @Html.ValidationMessageFor(model => model.date_day, "", new { @class = "text-danger" })
            </div>

            <br />

            <div class="control-label col-md-2">
                <h6>Pick a slot</h6>
            </div>

            @for (int i = 15; i < 40; i++)
            {
                <span> | @(i/2):@(i%2==0 ? "00":"30") @Html.RadioButtonFor(m => m.slot_hour, i) | </span>
            }
            @Html.ValidationMessageFor(m => m.slot_hour, "", new { @class = "text-danger" })

            @Html.HiddenFor(m => m.ConsultationID, @Model.ConsultationID)
            @Html.HiddenFor(m => m.DoctorId, @Model.DoctorId)
            @Html.HiddenFor(m => m.UserId, @Model.UserId)
            @Html.HiddenFor(m => m.price, @Model.price)


        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-outline-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
}
