@model PDP.Models.Specialization
<h2 class="text-center">Edit spec</h2>
<br />

<form method="post" action="/Specializations/Edit/@Model.SpecializationID">

    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.HiddenFor(m => m.SpecializationID)
    <div class="form-group ">
        @Html.Label("Name", "Specialization Name")
        @Html.ValidationMessageFor(m => m.Name, " *", new { @class = "text-danger " })
        @Html.TextBox("Name", null, new { @class = "form-control" })
        <br />
    </div>
    <div class="form-group">
        @Html.Label("Price", "Specialization Price")
        @Html.ValidationMessageFor(m => m.Price, " *", new { @class = "text-danger" })
        @Html.TextBox("Price", null, new { @class = "form-control" })
    </div><br />

    <div class="row text-center">
        <div class="col-md-12">
            <button class="btn btn-success justify-content-center" type="submit">Modify spec</button>
        </div>
    </div>
    <br />
</form>
